* {
    padding: 0;
    margin: 0;
}
.dangki {
    display: flex;
    margin-left: 700px;
    margin-top: 200px;
    color: white;
}
#button {
    border-radius: 50px;
    padding: 10px;
}
body{
    background-size: cover;
    background-position: center;
}
body{
    background-image: url(../img/Screenshot\ 2024-03-30\ 220501.png);
}
.taikhoan{
    text-decoration: none;
    color: white;
    size: 20px;
}