*{
    margin: 0px;
    padding: 0;
    font-family: Open Sans;
}
.div2 {
    /* background: linear-gradient(145deg, #3de3da, #1badec); */
    background: linear-gradient(145deg, #000000, #374145);
    display: flex;
    justify-content: center 
}
.back {
    color: rgb(248, 248, 248);
    font-size: 35px;
    margin: 10px;
    text-decoration: none;
}
.nav-trai {
    margin-right: 400px;
}   
.nav{
    margin-top: 600px;
    background: linear-gradient(145deg, #000000, #374145);
}
.nav3{
    color: white;
    text-decoration: none;
}
.h1{
    color: white;
}
.contact{
    
}
.back:hover {
    background-color: #615a5a;
}
.sanpham{
    display: flex;
}
.sanpham1{
    background-color: #f9f1f1;
    margin-bottom: 130px;
    margin-left: 130px;
}
.h1{
    
   
}