*{
    margin: 0px;
    padding: 0px;
    font-family: Open Sans;
}
.div2 {
    background: linear-gradient(145deg, #000000, #374145);
    display: flex;
    justify-content: center 
}
.back {
    color: rgb(248, 248, 248);
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
}
.nav-trai {
    margin-right: 400px;
    margin-top: 10px;
}   
.nav{
    margin-top: 30px;
    background: linear-gradient(145deg, #000000, #374145);
}
.nav3{
    color: white;
    text-decoration: none;
}
.h1{
    color: white;
}
.contact{
    
}
.back:hover {
    background-color: #615a5a;
}
.tt{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px ;
}
.img1 {
    background-color: #615a5a   ;
}
.img2 {
    /* display: flex; */
}
.a{
    text-decoration: none;
    padding-top: 100px;
}
.img12{

}
.nav-phai{
    margin-top: 10px;
}
.img05{
    margin-left: 50px;
    padding-top: 30px;
    display: flex;
    
}
.nganh {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding-top: 40px;
}
.nganh1{
    padding-top: 30px;
}
